<main>
    <header>
        <img src="../assets/logo.svg" alt="Fair house logo">Fair house
    </header>
    <section>
        <app-housing-list [locationList]="housingLocationList" (locationSelectedEvent)="updateSelectedLocation($event)"></app-housing-list>
        <article>
            <ng-container *ngIf="selectedLocation">
                <img [src]="selectedLocation?.photo">
                <p>{{selectedLocation?.name}}</p>
                <p>{{selectedLocation?.availableUnits}}</p>
                <p>{{selectedLocation?.city}}, {{selectedLocation?.state}}</p>
                <p>{{selectedLocation?.laundry ? "Has Laundry" : "No Laundry"}}</p>
                <p>{{selectedLocation?.wifi ? "Wi-Fi Available" : "No Wi-Fi"}}</p>
            </ng-container>
        </article>
    </section>
</main>
